* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.display-container {
    display: flex;
    flex-direction: row;
    width: 66%;
    margin-left: 17%;
    background-color: green;
}

.left-arrow, .right-arrow {
    margin-top: 25%;
    width: 8%;
}

.movie-carousel {
    margin-top: 10px;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.movie-carousel__card {
    height: 90%;
    width: 190px;
    
}

.movie-carousel__card__img {
    height: 70%;
    width: 90%;
}